@tailwind base;
@tailwind components;
@tailwind utilities;

.split-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Adjust for vertical splits */
}

.pane {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide scrollbars if content overflows */
}

.pane1 {
  background-color: #f0f0f0;
}

.pane2 {
  background-color: #e0e0e0;
}

/* Hide scrollbars */
.split-container {
  overflow: hidden; /* Hide scrollbars on the container */
}

.scroll-hidden {
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}